body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-part {
  color: #2e2f42;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}
.nav-link .address {
  font-style: normal;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
}
.hero {
  background-color: #2e2f42;
}

.order-service-btn {
  font-family: inherit;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.order-service-btn:hover,
.order-service-btn:focus {
  background-color: #404bbf;
}

.footer-page {
  background-color: #2e2f42;
}

.footer-page-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-part-footer {
  color: #f4f4fd;
}

.our-team {
  background-color: #f4f4fd;
}

.our-team-list-item {
  background-color: #ffffff;
}

.our-team-fullname {
  text-transform: capitalize;
  background: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.our-team-list-text {
  background-color: #ffffff;
  text-transform: capitalize;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.benefits-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
  background-color: #ffffff;
}
.benfits-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

.our-portfolio-list-item {
  background-color: #ffffff;
}

.our-portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  background-color: #ffffff;
}

.our-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
  background-color: #ffffff;
}
